header{
	background: #363636;
	color: #F8F8FF;
	height: 150px;
}
.name{
	font-family: 'LiSu';
	font-size: 50px;
	text-indent: 4em;
	padding: 5px;
}
.name_bottom{
	padding: 5px;
	line-height: 50px;
	text-orientation: bottom;
}