html,body{
	height: 100%;
	width: 100%;
}
/*container-begin*/
.container{
	z-index: 1;
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #1C1C1C;
	color: #E8E8E8;
}
.nav{
	height: 100%;
	width: 50px;
	padding-left:150px;
	color: #B5B5B5;
	position: absolute;
	top: 0;
	left: 0;
}
.nav span{
	display: block;
	width: 100%;
	text-align: center;
}
.wraper{
	float: left;
	height: 100%;
	width: 1100px;
	position: relative;
	margin-left: 300px;
}
.basical,.IT-skills,.projects{
	width: 1100px;
	height: 100%;
	position: absolute;
}
.info{
	width: 500px;
	height: 500px;
	float: left;
	margin-top: 150px;
}
.photo{
	width: 500px;
	height: 500px;
	float: left;
	margin-top: 150px;
	margin-left: 100px;
}
.info li{
	height: 50px;
	line-height: 50px;
	width: 100%;
}
.tags{
	display: inline-block;
	font-size: 28px;
	color: #9C9C9C;
	width: 130px;
	text-align: right;
	padding: 10px;
}
.info strong{
	display: inline-block;
	width: 330px;
	padding: 10px;
	font-size: 28px;
	font-weight: normal;
}
/*container-end*/

/*entry-begin*/
.entry{
	z-index: 200;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
}

.top-half{
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0;
	background-color: #BBFFFF;
	background: url("../img/bk-1.jpg");
	background-position: bottom;
	overflow: hidden;
}

.bottom-half{
	height: 50%;
	width: 100%;
	position: absolute;
	top: 50%;
	background-color: #668B8B;
	background: url("../img/bk-2.jpg");
	background-position: top;
}

.bottom-half-top{
	position: absolute;
	top: 0;
	height: 100px;
	width: 100%;
	background-color: #BBFFFF;
	opacity: 0.5;
}

.bottom-half-top strong{
	font-size: 30px;
	color: #708090;
	display: block;
	padding-left: 50%;
	text-indent: 5em;
	padding-top: 30px;
}

.portrait{
	width: 250px;
	height: 250px;
	position: absolute;
	left: 50%;
	top: -125px;
}
.portrait-img{
	width: 250px;
	height: 250px;
	position: absolute;
	left: -50%;
	top: 0;
	display: inline-block;
	border-radius: 125px;
	cursor: pointer;
}
.portrait-cover{
	background-color: #87CEEB;
	opacity: 0.8;
	width: 250px;
	height: 250px;
	position: absolute;
	left: -50%;
	top: 0;
	border-radius: 125px;
	cursor: pointer;
	font-size: 30px;
	text-align: center;
}
.portrait-cover span{
	display: block;
	color: #708090;
	padding-top: 100px;
}
/*entry-end*/