html,body{
	height: 100%;
	width: 100%;
}
/*container-begin*/
.container{
	z-index: 1;
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #1C1C1C;
	background: url("../img/bk-4.jpg");
	color: #E8E8E8;
	overflow: hidden;
}
.nav{
	height: 100%;
	width: 50px;
	padding-left:150px;
	color: #B5B5B5;
	position: absolute;
	top: 0;
	left: 0;
}
.balls li{
	width: 45px;
	height: 45px;
	position: absolute;
	border-radius:22.5px;
	overflow: hidden; 
	top: 50%;
}
.wraper{
	height: 100%;
	width: 1100px;
	position: relative;
	margin-left: 300px;
}
.basical,.IT-skills,.projects{
	width: 1100px;
	height: 100%;
	position: absolute;
}
.info{
	width: 570px;
	height: 500px;
	float: left;
	margin-top: 150px;
}
.photo{
	width: 430px;
	height: 500px;
	float: left;
	margin-top: 150px;
}
.photo img{
	display: block;
	width: 300px;
	height: 300px;
	overflow: hidden;
}
.info li{
	height: 50px;
	line-height: 50px;
	width: 100%;
}
.info h3{
	font-size: 30px;
	color: #708090;
	font-weight: normal;
}
.tags{
	display: inline-block;
	font-size: 28px;
	color: #9C9C9C;
	width: 130px;
	text-align: right;
	padding: 10px;
}
.info strong{
	display: inline-block;
	width: 400px;
	padding: 10px;
	font-size: 28px;
	font-weight: normal;
}
.photo .circle{
	display: block;
	height: 250px;
	width: 250px;
	border-radius: 125px;
	margin-top: 25px;
}
.basical{
	top: 0;
}
.IT-skills{
	top: 100%;
}
.IT-skills .info li:nth-child(2n){
	color: #36648B;
}
.projects{
	top: 100%;
}
.projects .photo{
	margin-left: 50px;
}
.projects-list{
	width: 540px;
	overflow: hidden;
	margin: 10px;
}
.projects-list h4{
	font-size: 20px;
	font-weight: normal;
	color: #4F94CD;
}
.projects-list .time-tag{
	color: #BEBEBE;
}
.projects-list .time-tag span{
	color: #4F4F4F;
}
.projects-list .description span{
	color: #4F4F4F;
}
.projects-list .description{
	color: #BEBEBE;
}
.projects-list .description em{
	font-weight: normal;
	color: #EE3B3B;
	text-orientation: normal;
}
.slider{
	position: absolute;
	top: 75%;
	right: 20px;
	width: 200px;
	height: 170px;
	cursor: pointer;
}
/*container-end*/

/*entry-begin*/
.entry{
	z-index: 200;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	overflow: hidden;
}

.top-half{
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0;
	background-color: #BBFFFF;
	background: url("../img/bk-1.jpg");
	background-position: bottom;
	overflow: hidden;
}

.bottom-half{
	height: 50%;
	width: 100%;
	position: absolute;
	top: 50%;
	background-color: #668B8B;
	background: url("../img/bk-2.jpg");
	background-position: top;
}

.bottom-half-top{
	position: absolute;
	top: 0;
	height: 100px;
	width: 100%;
	background-color: #BBFFFF;
	opacity: 0.5;
}

.bottom-half-top strong{
	font-size: 30px;
	color: #708090;
	display: block;
	position: absolute;
	left: 50%;
	text-indent: 5em;
	padding-top: 30px;
}
.bottom-half-top .nav_a{
	display: block;
	float: left;
	height: 30px;
	line-height: 30px;
	margin: 30px 0 0 220px;
}
.bottom-half-top a{
	font-size: 30px;
	color: #4F4F4F;
	padding-right: 60px;
	font-weight: bold;
}
.bottom-half-top a:hover{
	color: #008B45;
}
.portrait{
	width: 250px;
	height: 250px;
	position: absolute;
	left: 50%;
	top: -125px;
}
.portrait-img{
	width: 250px;
	height: 250px;
	position: absolute;
	left: -50%;
	top: 0;
	display: inline-block;
	border-radius: 125px;
	cursor: pointer;
}
.portrait-cover{
	background-color: #BBFFFF;
	opacity: 0.5;
	width: 250px;
	height: 250px;
	position: absolute;
	left: -50%;
	top: 0;
	border-radius: 125px;
	cursor: pointer;
	font-size: 30px;
	text-align: center;
}
.portrait-cover span{
	display: block;
	color: #708090;
	padding-top: 100px;
}
/*entry-end*/