.main{
	position: relative;
}
.board{
	width: 400px;
	height: 480px;
	border:2px solid #ec9283;
	margin: 120px 0 0 300px;
	position: relative;
}
.control{
	position: absolute;
}

/*棋盘*/
.board-cell,.board-cell-0,.board-cell-init{
	width: 36px;
	height: 36px;	
	float: left;
}
.board-cell-init{
	background: #fff;
	border:2px solid #fbe4e0;
}
/*积木*/
.board-cell{
	background: #ec9283;
	border:2px solid #fff;
}
.board-cell-0{
	background: #fff;
	border:2px solid #fbe4e0;
}
/*.board-cell-1{
	background: #ec9283;
	border:2px solid #fbe4e0;
}*/
.fall_2_3{
	width: 120px;height:80px;
}
.fall_3_2{
	width: 80px;
	height: 120px;
}
.fall_2_2{
	width: 80px;
	height: 80px;
}
.fall_1_4{
	width: 160px;
	height: 40px;
}
.fall{
	position: absolute;
	top: -82px;
	left: 120px;
}